* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sedan SC", serif;
}

body {
    background-color: #8aa79e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2368c173' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23415f30' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%235bbc6e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23445b2b' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2371b367' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23215526' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2367ab5f' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%231a5423' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2364af5f' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%234e4b1d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2362a255' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23524718' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.beirada {
    max-width: 12.8rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #C8E6C9;
    z-index: 1000;
    padding: 0.1rem;
}

section a {
    color: #070404;
    text-decoration: none;
    display: inline-block;
    transition: 0.15rem;
}

section a:hover {
    color: #fff;
    transform: scale(1.05);
}

section nav ul {
    list-style-type: none;
    display: flex;
}

section nav ul li {
    padding: 0 0.15rem;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    text-align: center;
    color: #070404;
}

.grid-centralizada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
    align-items: center;
    max-width: 8rem;
    width: 100%;
}

.texto {
    text-align: left;
}

.foto img {
    max-width: 100%;
    height: auto;
    border-radius: 3rem;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #C8E6C9;
    color: #fff;
    padding: 0.1rem;
    z-index: 1000;
}

.redes-sociais {
    display: flex;
    gap: 0.2rem;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 12rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 2rem);
}

.subgrid {
    display: grid;
    gap: 0.1rem;
    text-align: center;
}

.subgrid .foto img {
    max-width: 100%;
    height: auto;
}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 4rem;
    border-radius: 0.3rem;
    overflow: hidden;
    padding-top: 0.3rem;
}

video {
    width: 5%;
    height: auto;
    display: block;
    border-radius: 3px;
}

p {
    font-size: 0.12rem;
}

li a {
    font-size: 0.12rem;
}

.grid-formacao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
    justify-items: center;
}

.subgrid-formacao {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 0.1rem;
    padding: 0.2rem;
    padding-top: 2.5%;
}

.subgrid-formacao img {
    max-width: 100%;
    height: auto;
}

.logo {
    padding-left: 2rem;
}

.grid-atuacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.subgrid-1-2,
.subgrid-3-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-1-atuacao,
.grid-2-atuacao,
.grid-3-atuacao,
.grid-4-atuacao {
    margin: 0.1rem;
    text-align: center;
    flex-direction: row;
}

.video-atuacao {
    max-width: 2rem;
    max-height: 2rem;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 0.1rem;
}

.texto-atuacao {
    font-size: 0.16rem;
    color: #333;
    margin-left: 3rem;
    margin-right: 3rem;
}

.contato-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form {
    max-width: 50rem;
    margin: 2rem auto;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
}

textarea {
    height: 10rem;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.contato-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    box-sizing: border-box;
}

.projeto {
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 2rem;
    margin: 2rem;
    max-width: 30rem;
}

.titulo-projeto {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.descricao-projeto {
    margin-bottom: 2rem;
}

.tecnologias,
.empresas {
    margin-top: 1rem;
}

.tecnologias ul,
.empresas ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tecnologias h4,
.empresas h4 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.tecnologias li,
.empresas li {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.prading {
    padding-top: 10rem;
}